{% extends 'layout.html' %}

{% block body %}

<div class="container">
  <div class="jumbotron text-center">
      <h1 class="display-4 text-center">Resturant Ordering System </h1>
      <p class="lead ">Hello <span class="text-success">{{session.username}}</span> Welcome To Resturant Ordering System</p>
      <hr class="my-4">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Food Ordered</th>
            <th scope="col">Food Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Manage Order</th>
          </tr>
        </thead>
        <tbody>
          {% for customerOrders in customerOrders %}
          <tr>
            <th scope="row">{{customerOrders.id }}</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endblock %}