{% extends 'layout.html' %}

{% block body %}

<div class="container">
  <div class="jumbotron text-center">
      <h1 class="display-4 text-center">Py Flask Starter 🚀 </h1>
      <p class="lead ">Hello <span class="text-success">{{session.username}}</span> Welcome To Resturant Ordering System</p>
      <hr class="my-4">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Food Ordered</th>
            <th scope="col">Food Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Manage Order</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Pay</td>
            <td>Get Receipt</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
{% endblock %}