
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
summary {
  display: list-item;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
progress {
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
figure {
  margin: 1em 40px;
}
img {
  border-style: none;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea,
optgroup {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
/* End extract */
html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
html {
  overflow-x: hidden;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
.eddie_photography-serif {
  font-family: serif;
}
.eddie_photography-sans {
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
.eddie_photography-wide {
  letter-spacing: 4px;
}
hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}
.eddie_photography-image {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
}
a {
  color: inherit;
}
.eddie_photography-table,
.eddie_photography-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}
.eddie_photography-table-all {
  border: 1px solid #ccc;
}
.eddie_photography-bordered tr,
.eddie_photography-table-all tr {
  border-bottom: 1px solid #ddd;
}
.eddie_photography-striped tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}
.eddie_photography-table-all tr:nth-child(odd) {
  background-color: #fff;
}
.eddie_photography-table-all tr:nth-child(even) {
  background-color: #f1f1f1;
}
.eddie_photography-hoverable tbody tr:hover,
.eddie_photography-ul.eddie_photography-hoverable li:hover {
  background-color: #ccc;
}
.eddie_photography-centered tr th,
.eddie_photography-centered tr td {
  text-align: center;
}
.eddie_photography-table td,
.eddie_photography-table th,
.eddie_photography-table-all td,
.eddie_photography-table-all th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
.eddie_photography-table th:first-child,
.eddie_photography-table td:first-child,
.eddie_photography-table-all th:first-child,
.eddie_photography-table-all td:first-child {
  padding-left: 16px;
}
.eddie_photography-btn,
.eddie_photography-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.eddie_photography-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.eddie_photography-btn,
.eddie_photography-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.eddie_photography-disabled,
.eddie_photography-btn:disabled,
.eddie_photography-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.eddie_photography-disabled *,
:disabled * {
  pointer-events: none;
}
.eddie_photography-btn.eddie_photography-disabled:hover,
.eddie_photography-btn:disabled:hover {
  box-shadow: none;
}
.eddie_photography-badge,
.eddie_photography-tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
.eddie_photography-badge {
  border-radius: 50%;
}
.eddie_photography-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.eddie_photography-ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}
.eddie_photography-ul li:last-child {
  border-bottom: none;
}
.eddie_photography-tooltip,
.eddie_photography-display-container {
  position: relative;
}
.eddie_photography-tooltip .eddie_photography-text {
  display: none;
}
.eddie_photography-tooltip:hover .eddie_photography-text {
  display: inline-block;
}
.eddie_photography-ripple:active {
  opacity: 0.5;
}
.eddie_photography-ripple {
  transition: opacity 0s;
}
.eddie_photography-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.eddie_photography-select {
  padding: 9px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}
.eddie_photography-dropdown-click,
.eddie_photography-dropdown-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.eddie_photography-dropdown-hover:hover .eddie_photography-dropdown-content {
  display: block;
}
.eddie_photography-dropdown-hover:first-child,
.eddie_photography-dropdown-click:hover {
  background-color: #ccc;
  color: #000;
}
.eddie_photography-dropdown-hover:hover > .eddie_photography-button:first-child,
.eddie_photography-dropdown-click:hover > .eddie_photography-button:first-child {
  background-color: #ccc;
  color: #000;
}
.eddie_photography-dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.eddie_photography-check,
.eddie_photography-radio {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}
.eddie_photography-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}
.eddie_photography-bar-block .eddie_photography-dropdown-hover,
.eddie_photography-bar-block .eddie_photography-dropdown-click {
  width: 100%;
}
.eddie_photography-bar-block .eddie_photography-dropdown-hover .eddie_photography-dropdown-content,
.eddie_photography-bar-block .eddie_photography-dropdown-click .eddie_photography-dropdown-content {
  min-width: 100%;
}
.eddie_photography-bar-block .eddie_photography-dropdown-hover .eddie_photography-button,
.eddie_photography-bar-block .eddie_photography-dropdown-click .eddie_photography-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}
.eddie_photography-main,
#main {
  transition: margin-left 0.4s;
}
.eddie_photography-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.eddie_photography-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}
.eddie_photography-bar {
  width: 100%;
  overflow: hidden;
}
.eddie_photography-center .eddie_photography-bar {
  display: inline-block;
  width: auto;
}
.eddie_photography-bar .eddie_photography-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}
.eddie_photography-bar .eddie_photography-dropdown-hover,
.eddie_photography-bar .eddie_photography-dropdown-click {
  position: static;
  float: left;
}
.eddie_photography-bar .eddie_photography-button {
  white-space: normal;
}
.eddie_photography-bar-block .eddie_photography-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
.eddie_photography-bar-block.eddie_photography-center .eddie_photography-bar-item {
  text-align: center;
}
.eddie_photography-block {
  display: block;
  width: 100%;
}
.eddie_photography-responsive {
  display: block;
  overflow-x: auto;
}
.eddie_photography-container:after,
.eddie_photography-container:before,
.eddie_photography-panel:after,
.eddie_photography-panel:before,
.eddie_photography-row:after,
.eddie_photography-row:before,
.eddie_photography-row-padding:after,
.eddie_photography-row-padding:before,
.eddie_photography-cell-row:before,
.eddie_photography-cell-row:after,
.eddie_photography-clear:after,
.eddie_photography-clear:before,
.eddie_photography-bar:before,
.eddie_photography-bar:after {
  content: "";
  display: table;
  clear: both;
}
.eddie_photography-col,
.eddie_photography-half,
.eddie_photography-third,
.eddie_photography-twothird,
.eddie_photography-threequarter,
.eddie_photography-quarter {
  float: left;
  width: 100%;
}
.eddie_photography-col.s1 {
  width: 8.33333%;
}
.eddie_photography-col.s2 {
  width: 16.66666%;
}
.eddie_photography-col.s3 {
  width: 24.99999%;
}
.eddie_photography-col.s4 {
  width: 33.33333%;
}
.eddie_photography-col.s5 {
  width: 41.66666%;
}
.eddie_photography-col.s6 {
  width: 49.99999%;
}
.eddie_photography-col.s7 {
  width: 58.33333%;
}
.eddie_photography-col.s8 {
  width: 66.66666%;
}
.eddie_photography-col.s9 {
  width: 74.99999%;
}
.eddie_photography-col.s10 {
  width: 83.33333%;
}
.eddie_photography-col.s11 {
  width: 91.66666%;
}
.eddie_photography-col.s12 {
  width: 99.99999%;
}
@media (min-width: 601px) {
  .eddie_photography-col.m1 {
    width: 8.33333%;
  }
  .eddie_photography-col.m2 {
    width: 16.66666%;
  }
  .eddie_photography-col.m3,
  .eddie_photography-quarter {
    width: 24.99999%;
  }
  .eddie_photography-col.m4,
  .eddie_photography-third {
    width: 33.33333%;
  }
  .eddie_photography-col.m5 {
    width: 41.66666%;
  }
  .eddie_photography-col.m6,
  .eddie_photography-half {
    width: 49.99999%;
  }
  .eddie_photography-col.m7 {
    width: 58.33333%;
  }
  .eddie_photography-col.m8,
  .eddie_photography-twothird {
    width: 66.66666%;
  }
  .eddie_photography-col.m9,
  .eddie_photography-threequarter {
    width: 74.99999%;
  }
  .eddie_photography-col.m10 {
    width: 83.33333%;
  }
  .eddie_photography-col.m11 {
    width: 91.66666%;
  }
  .eddie_photography-col.m12 {
    width: 99.99999%;
  }
}
@media (min-width: 993px) {
  .eddie_photography-col.l1 {
    width: 8.33333%;
  }
  .eddie_photography-col.l2 {
    width: 16.66666%;
  }
  .eddie_photography-col.l3 {
    width: 24.99999%;
  }
  .eddie_photography-col.l4 {
    width: 33.33333%;
  }
  .eddie_photography-col.l5 {
    width: 41.66666%;
  }
  .eddie_photography-col.l6 {
    width: 49.99999%;
  }
  .eddie_photography-col.l7 {
    width: 58.33333%;
  }
  .eddie_photography-col.l8 {
    width: 66.66666%;
  }
  .eddie_photography-col.l9 {
    width: 74.99999%;
  }
  .eddie_photography-col.l10 {
    width: 83.33333%;
  }
  .eddie_photography-col.l11 {
    width: 91.66666%;
  }
  .eddie_photography-col.l12 {
    width: 99.99999%;
  }
}
.eddie_photography-rest {
  overflow: hidden;
}
.eddie_photography-stretch {
  margin-left: -16px;
  margin-right: -16px;
}
.eddie_photography-content,
.eddie_photography-auto {
  margin-left: auto;
  margin-right: auto;
}
.eddie_photography-content {
  max-width: 980px;
}
.eddie_photography-auto {
  max-width: 1140px;
}
.eddie_photography-cell-row {
  display: table;
  width: 100%;
}
.eddie_photography-cell {
  display: table-cell;
}
.eddie_photography-cell-top {
  vertical-align: top;
}
.eddie_photography-cell-middle {
  vertical-align: middle;
}
.eddie_photography-cell-bottom {
  vertical-align: bottom;
}
.eddie_photography-hide {
  display: none !important;
}
.eddie_photography-show-block,
.eddie_photography-show {
  display: block !important;
}
.eddie_photography-show-inline-block {
  display: inline-block !important;
}
@media (max-width: 1205px) {
  .eddie_photography-auto {
    max-width: 95%;
  }
}
@media (max-width: 600px) {
  .eddie_photography-modal-content {
    margin: 0 10px;
    width: auto !important;
  }
  .eddie_photography-modal {
    padding-top: 30px;
  }
  .eddie_photography-dropdown-hover.eddie_photography-mobile .eddie_photography-dropdown-content,
  .eddie_photography-dropdown-click.eddie_photography-mobile .eddie_photography-dropdown-content {
    position: relative;
  }
  .eddie_photography-hide-small {
    display: none !important;
  }
  .eddie_photography-mobile {
    display: block;
    width: 100% !important;
  }
  .eddie_photography-bar-item.eddie_photography-mobile,
  .eddie_photography-dropdown-hover.eddie_photography-mobile,
  .eddie_photography-dropdown-click.eddie_photography-mobile {
    text-align: center;
  }
  .eddie_photography-dropdown-hover.eddie_photography-mobile,
  .eddie_photography-dropdown-hover.eddie_photography-mobile .eddie_photography-btn,
  .eddie_photography-dropdown-hover.eddie_photography-mobile .eddie_photography-button,
  .eddie_photography-dropdown-click.eddie_photography-mobile,
  .eddie_photography-dropdown-click.eddie_photography-mobile .eddie_photography-btn,
  .eddie_photography-dropdown-click.eddie_photography-mobile .eddie_photography-button {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .eddie_photography-modal-content {
    width: 500px;
  }
  .eddie_photography-modal {
    padding-top: 50px;
  }
}
@media (min-width: 993px) {
  .eddie_photography-modal-content {
    width: 900px;
  }
  .eddie_photography-hide-large {
    display: none !important;
  }
  .eddie_photography-sidebar.eddie_photography-collapse {
    display: block !important;
  }
}
@media (max-width: 992px) and (min-width: 601px) {
  .eddie_photography-hide-medium {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .eddie_photography-sidebar.eddie_photography-collapse {
    display: none;
  }
  .eddie_photography-main {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .eddie_photography-auto {
    max-width: 100%;
  }
}
.eddie_photography-top,
.eddie_photography-bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.eddie_photography-top {
  top: 0;
}
.eddie_photography-bottom {
  bottom: 0;
}
.eddie_photography-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.eddie_photography-display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}
.eddie_photography-display-topright {
  position: absolute;
  right: 0;
  top: 0;
}
.eddie_photography-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}
.eddie_photography-display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
}
.eddie_photography-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.eddie_photography-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}
.eddie_photography-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}
.eddie_photography-display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}
.eddie_photography-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}
.eddie_photography-display-container:hover .eddie_photography-display-hover {
  display: block;
}
.eddie_photography-display-container:hover span.eddie_photography-display-hover {
  display: inline-block;
}
.eddie_photography-display-hover {
  display: none;
}
.eddie_photography-display-position {
  position: absolute;
}
.eddie_photography-circle {
  border-radius: 50%;
}
.eddie_photography-round-small {
  border-radius: 2px;
}
.eddie_photography-round,
.eddie_photography-round-medium {
  border-radius: 4px;
}
.eddie_photography-round-large {
  border-radius: 8px;
}
.eddie_photography-round-xlarge {
  border-radius: 16px;
}
.eddie_photography-round-xxlarge {
  border-radius: 32px;
}
.eddie_photography-row-padding,
.eddie_photography-row-padding > .eddie_photography-half,
.eddie_photography-row-padding > .eddie_photography-third,
.eddie_photography-row-padding > .eddie_photography-twothird,
.eddie_photography-row-padding > .eddie_photography-threequarter,
.eddie_photography-row-padding > .eddie_photography-quarter,
.eddie_photography-row-padding > .eddie_photography-col {
  padding: 0 8px;
}
.eddie_photography-container,
.eddie_photography-panel {
  padding: 0.01em 16px;
}
.eddie_photography-panel {
  margin-top: 16px;
  margin-bottom: 16px;
}
.eddie_photography-code,
.eddie_photography-codespan {
  font-family: Consolas, "courier new";
  font-size: 16px;
}
.eddie_photography-code {
  width: auto;
  background-color: #fff;
  padding: 8px 12px;
  border-left: 4px solid #4caf50;
  word-wrap: break-word;
}
.eddie_photography-codespan {
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%;
}
.eddie_photography-card,
.eddie_photography-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.eddie_photography-card-4,
.eddie_photography-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.eddie_photography-spin {
  animation: eddie_photography-spin 2s infinite linear;
}
@keyframes eddie_photography-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.eddie_photography-animate-fading {
  animation: fading 10s infinite;
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.eddie_photography-animate-opacity {
  animation: opac 0.8s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.eddie_photography-animate-top {
  position: relative;
  animation: animatetop 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.eddie_photography-animate-left {
  position: relative;
  animation: animateleft 0.4s;
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.eddie_photography-animate-right {
  position: relative;
  animation: animateright 0.4s;
}
@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.eddie_photography-animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.eddie_photography-animate-zoom {
  animation: animatezoom 0.6s;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.eddie_photography-animate-input {
  transition: width 0.4s ease-in-out;
}
.eddie_photography-animate-input:focus {
  width: 100% !important;
}
.eddie_photography-opacity,
.eddie_photography-hover-opacity:hover {
  opacity: 0.6;
}
.eddie_photography-opacity-off,
.eddie_photography-hover-opacity-off:hover {
  opacity: 1;
}
.eddie_photography-opacity-max {
  opacity: 0.25;
}
.eddie_photography-opacity-min {
  opacity: 0.75;
}
.eddie_photography-greyscale-max,
.eddie_photography-grayscale-max,
.eddie_photography-hover-greyscale:hover,
.eddie_photography-hover-grayscale:hover {
  filter: grayscale(100%);
}
.eddie_photography-greyscale,
.eddie_photography-grayscale {
  filter: grayscale(75%);
}
.eddie_photography-greyscale-min,
.eddie_photography-grayscale-min {
  filter: grayscale(50%);
}
.eddie_photography-sepia {
  filter: sepia(75%);
}
.eddie_photography-sepia-max,
.eddie_photography-hover-sepia:hover {
  filter: sepia(100%);
}
.eddie_photography-sepia-min {
  filter: sepia(50%);
}
.eddie_photography-tiny {
  font-size: 10px !important;
}
.eddie_photography-small {
  font-size: 12px !important;
}
.eddie_photography-medium {
  font-size: 15px !important;
}
.eddie_photography-large {
  font-size: 18px !important;
}
.eddie_photography-xlarge {
  font-size: 24px !important;
}
.eddie_photography-xxlarge {
  font-size: 36px !important;
}
.eddie_photography-xxxlarge {
  font-size: 48px !important;
}
.eddie_photography-jumbo {
  font-size: 64px !important;
}
.eddie_photography-left-align {
  text-align: left !important;
}
.eddie_photography-right-align {
  text-align: right !important;
}
.eddie_photography-justify {
  text-align: justify !important;
}
.eddie_photography-center {
  text-align: center !important;
}
.eddie_photography-border-0 {
  border: 0 !important;
}
.eddie_photography-border {
  border: 1px solid #ccc !important;
}
.eddie_photography-border-top {
  border-top: 1px solid #ccc !important;
}
.eddie_photography-border-bottom {
  border-bottom: 1px solid #ccc !important;
}
.eddie_photography-border-left {
  border-left: 1px solid #ccc !important;
}
.eddie_photography-border-right {
  border-right: 1px solid #ccc !important;
}
.eddie_photography-topbar {
  border-top: 6px solid #ccc !important;
}
.eddie_photography-bottombar {
  border-bottom: 6px solid #ccc !important;
}
.eddie_photography-leftbar {
  border-left: 6px solid #ccc !important;
}
.eddie_photography-rightbar {
  border-right: 6px solid #ccc !important;
}
.eddie_photography-section,
.eddie_photography-code {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.eddie_photography-margin {
  margin: 16px !important;
}
.eddie_photography-margin-top {
  margin-top: 16px !important;
}
.eddie_photography-margin-bottom {
  margin-bottom: 16px !important;
}
.eddie_photography-margin-left {
  margin-left: 16px !important;
}
.eddie_photography-margin-right {
  margin-right: 16px !important;
}
.eddie_photography-padding-small {
  padding: 4px 8px !important;
}
.eddie_photography-padding {
  padding: 8px 16px !important;
}
.eddie_photography-padding-large {
  padding: 12px 24px !important;
}
.eddie_photography-padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.eddie_photography-padding-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.eddie_photography-padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.eddie_photography-padding-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}
.eddie_photography-padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}
.eddie_photography-padding-top-64 {
  padding-top: 64px !important;
}
.eddie_photography-padding-top-48 {
  padding-top: 48px !important;
}
.eddie_photography-padding-top-32 {
  padding-top: 32px !important;
}
.eddie_photography-padding-top-24 {
  padding-top: 24px !important;
}
.eddie_photography-left {
  float: left !important;
}
.eddie_photography-right {
  float: right !important;
}
.eddie_photography-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}
.eddie_photography-transparent,
.eddie_photography-hover-none:hover {
  background-color: transparent !important;
}
.eddie_photography-hover-none:hover {
  box-shadow: none !important;
}
/* Colors */
.eddie_photography-amber,
.eddie_photography-hover-amber:hover {
  color: #000 !important;
  background-color: #ffc107 !important;
}
.eddie_photography-aqua,
.eddie_photography-hover-aqua:hover {
  color: #000 !important;
  background-color: #00ffff !important;
}
.eddie_photography-blue,
.eddie_photography-hover-blue:hover {
  color: #fff !important;
  background-color: #2196f3 !important;
}
.eddie_photography-light-blue,
.eddie_photography-hover-light-blue:hover {
  color: #000 !important;
  background-color: #87ceeb !important;
}
.eddie_photography-brown,
.eddie_photography-hover-brown:hover {
  color: #fff !important;
  background-color: #795548 !important;
}
.eddie_photography-cyan,
.eddie_photography-hover-cyan:hover {
  color: #000 !important;
  background-color: #00bcd4 !important;
}
.eddie_photography-blue-grey,
.eddie_photography-hover-blue-grey:hover,
.eddie_photography-blue-gray,
.eddie_photography-hover-blue-gray:hover {
  color: #fff !important;
  background-color: #607d8b !important;
}
.eddie_photography-green,
.eddie_photography-hover-green:hover {
  color: #fff !important;
  background-color: #4caf50 !important;
}
.eddie_photography-light-green,
.eddie_photography-hover-light-green:hover {
  color: #000 !important;
  background-color: #8bc34a !important;
}
.eddie_photography-indigo,
.eddie_photography-hover-indigo:hover {
  color: #fff !important;
  background-color: #3f51b5 !important;
}
.eddie_photography-khaki,
.eddie_photography-hover-khaki:hover {
  color: #000 !important;
  background-color: #f0e68c !important;
}
.eddie_photography-lime,
.eddie_photography-hover-lime:hover {
  color: #000 !important;
  background-color: #cddc39 !important;
}
.eddie_photography-orange,
.eddie_photography-hover-orange:hover {
  color: #000 !important;
  background-color: #ff9800 !important;
}
.eddie_photography-deep-orange,
.eddie_photography-hover-deep-orange:hover {
  color: #fff !important;
  background-color: #ff5722 !important;
}
.eddie_photography-pink,
.eddie_photography-hover-pink:hover {
  color: #fff !important;
  background-color: #e91e63 !important;
}
.eddie_photography-purple,
.eddie_photography-hover-purple:hover {
  color: #fff !important;
  background-color: #9c27b0 !important;
}
.eddie_photography-deep-purple,
.eddie_photography-hover-deep-purple:hover {
  color: #fff !important;
  background-color: #673ab7 !important;
}
.eddie_photography-red,
.eddie_photography-hover-red:hover {
  color: #fff !important;
  background-color: #f44336 !important;
}
.eddie_photography-sand,
.eddie_photography-hover-sand:hover {
  color: #000 !important;
  background-color: #fdf5e6 !important;
}
.eddie_photography-teal,
.eddie_photography-hover-teal:hover {
  color: #fff !important;
  background-color: #009688 !important;
}
.eddie_photography-yellow,
.eddie_photography-hover-yellow:hover {
  color: #000 !important;
  background-color: #ffeb3b !important;
}
.eddie_photography-white,
.eddie_photography-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important;
}
.eddie_photography-black,
.eddie_photography-hover-black:hover {
  color: #fff !important;
  background-color: #000 !important;
}
.eddie_photography-grey,
.eddie_photography-hover-grey:hover,
.eddie_photography-gray,
.eddie_photography-hover-gray:hover {
  color: #000 !important;
  background-color: #9e9e9e !important;
}
.eddie_photography-light-grey,
.eddie_photography-hover-light-grey:hover,
.eddie_photography-light-gray,
.eddie_photography-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}
.eddie_photography-dark-grey,
.eddie_photography-hover-dark-grey:hover,
.eddie_photography-dark-gray,
.eddie_photography-hover-dark-gray:hover {
  color: #fff !important;
  background-color: #616161 !important;
}
.eddie_photography-pale-red,
.eddie_photography-hover-pale-red:hover {
  color: #000 !important;
  background-color: #ffdddd !important;
}
.eddie_photography-pale-green,
.eddie_photography-hover-pale-green:hover {
  color: #000 !important;
  background-color: #ddffdd !important;
}
.eddie_photography-pale-yellow,
.eddie_photography-hover-pale-yellow:hover {
  color: #000 !important;
  background-color: #ffffcc !important;
}
.eddie_photography-pale-blue,
.eddie_photography-hover-pale-blue:hover {
  color: #000 !important;
  background-color: #ddffff !important;
}
.eddie_photography-text-amber,
.eddie_photography-hover-text-amber:hover {
  color: #ffc107 !important;
}
.eddie_photography-text-aqua,
.eddie_photography-hover-text-aqua:hover {
  color: #00ffff !important;
}
.eddie_photography-text-blue,
.eddie_photography-hover-text-blue:hover {
  color: #2196f3 !important;
}
.eddie_photography-text-light-blue,
.eddie_photography-hover-text-light-blue:hover {
  color: #87ceeb !important;
}
.eddie_photography-text-brown,
.eddie_photography-hover-text-brown:hover {
  color: #795548 !important;
}
.eddie_photography-text-cyan,
.eddie_photography-hover-text-cyan:hover {
  color: #00bcd4 !important;
}
.eddie_photography-text-blue-grey,
.eddie_photography-hover-text-blue-grey:hover,
.eddie_photography-text-blue-gray,
.eddie_photography-hover-text-blue-gray:hover {
  color: #607d8b !important;
}
.eddie_photography-text-green,
.eddie_photography-hover-text-green:hover {
  color: #4caf50 !important;
}
.eddie_photography-text-light-green,
.eddie_photography-hover-text-light-green:hover {
  color: #8bc34a !important;
}
.eddie_photography-text-indigo,
.eddie_photography-hover-text-indigo:hover {
  color: #3f51b5 !important;
}
.eddie_photography-text-khaki,
.eddie_photography-hover-text-khaki:hover {
  color: #b4aa50 !important;
}
.eddie_photography-text-lime,
.eddie_photography-hover-text-lime:hover {
  color: #cddc39 !important;
}
.eddie_photography-text-orange,
.eddie_photography-hover-text-orange:hover {
  color: #ff9800 !important;
}
.eddie_photography-text-deep-orange,
.eddie_photography-hover-text-deep-orange:hover {
  color: #ff5722 !important;
}
.eddie_photography-text-pink,
.eddie_photography-hover-text-pink:hover {
  color: #e91e63 !important;
}
.eddie_photography-text-purple,
.eddie_photography-hover-text-purple:hover {
  color: #9c27b0 !important;
}
.eddie_photography-text-deep-purple,
.eddie_photography-hover-text-deep-purple:hover {
  color: #673ab7 !important;
}
.eddie_photography-text-red,
.eddie_photography-hover-text-red:hover {
  color: #f44336 !important;
}
.eddie_photography-text-sand,
.eddie_photography-hover-text-sand:hover {
  color: #fdf5e6 !important;
}
.eddie_photography-text-teal,
.eddie_photography-hover-text-teal:hover {
  color: #009688 !important;
}
.eddie_photography-text-yellow,
.eddie_photography-hover-text-yellow:hover {
  color: #d2be0e !important;
}
.eddie_photography-text-white,
.eddie_photography-hover-text-white:hover {
  color: #fff !important;
}
.eddie_photography-text-black,
.eddie_photography-hover-text-black:hover {
  color: #000 !important;
}
.eddie_photography-text-grey,
.eddie_photography-hover-text-grey:hover,
.eddie_photography-text-gray,
.eddie_photography-hover-text-gray:hover {
  color: #757575 !important;
}
.eddie_photography-text-light-grey,
.eddie_photography-hover-text-light-grey:hover,
.eddie_photography-text-light-gray,
.eddie_photography-hover-text-light-gray:hover {
  color: #f1f1f1 !important;
}
.eddie_photography-text-dark-grey,
.eddie_photography-hover-text-dark-grey:hover,
.eddie_photography-text-dark-gray,
.eddie_photography-hover-text-dark-gray:hover {
  color: #3a3a3a !important;
}
.eddie_photography-border-amber,
.eddie_photography-hover-border-amber:hover {
  border-color: #ffc107 !important;
}
.eddie_photography-border-aqua,
.eddie_photography-hover-border-aqua:hover {
  border-color: #00ffff !important;
}
.eddie_photography-border-blue,
.eddie_photography-hover-border-blue:hover {
  border-color: #2196f3 !important;
}
.eddie_photography-border-light-blue,
.eddie_photography-hover-border-light-blue:hover {
  border-color: #87ceeb !important;
}
.eddie_photography-border-brown,
.eddie_photography-hover-border-brown:hover {
  border-color: #795548 !important;
}
.eddie_photography-border-cyan,
.eddie_photography-hover-border-cyan:hover {
  border-color: #00bcd4 !important;
}
.eddie_photography-border-blue-grey,
.eddie_photography-hover-border-blue-grey:hover,
.eddie_photography-border-blue-gray,
.eddie_photography-hover-border-blue-gray:hover {
  border-color: #607d8b !important;
}
.eddie_photography-border-green,
.eddie_photography-hover-border-green:hover {
  border-color: #4caf50 !important;
}
.eddie_photography-border-light-green,
.eddie_photography-hover-border-light-green:hover {
  border-color: #8bc34a !important;
}
.eddie_photography-border-indigo,
.eddie_photography-hover-border-indigo:hover {
  border-color: #3f51b5 !important;
}
.eddie_photography-border-khaki,
.eddie_photography-hover-border-khaki:hover {
  border-color: #f0e68c !important;
}
.eddie_photography-border-lime,
.eddie_photography-hover-border-lime:hover {
  border-color: #cddc39 !important;
}
.eddie_photography-border-orange,
.eddie_photography-hover-border-orange:hover {
  border-color: #ff9800 !important;
}
.eddie_photography-border-deep-orange,
.eddie_photography-hover-border-deep-orange:hover {
  border-color: #ff5722 !important;
}
.eddie_photography-border-pink,
.eddie_photography-hover-border-pink:hover {
  border-color: #e91e63 !important;
}
.eddie_photography-border-purple,
.eddie_photography-hover-border-purple:hover {
  border-color: #9c27b0 !important;
}
.eddie_photography-border-deep-purple,
.eddie_photography-hover-border-deep-purple:hover {
  border-color: #673ab7 !important;
}
.eddie_photography-border-red,
.eddie_photography-hover-border-red:hover {
  border-color: #f44336 !important;
}
.eddie_photography-border-sand,
.eddie_photography-hover-border-sand:hover {
  border-color: #fdf5e6 !important;
}
.eddie_photography-border-teal,
.eddie_photography-hover-border-teal:hover {
  border-color: #009688 !important;
}
.eddie_photography-border-yellow,
.eddie_photography-hover-border-yellow:hover {
  border-color: #ffeb3b !important;
}
.eddie_photography-border-white,
.eddie_photography-hover-border-white:hover {
  border-color: #fff !important;
}
.eddie_photography-border-black,
.eddie_photography-hover-border-black:hover {
  border-color: #000 !important;
}
.eddie_photography-border-grey,
.eddie_photography-hover-border-grey:hover,
.eddie_photography-border-gray,
.eddie_photography-hover-border-gray:hover {
  border-color: #9e9e9e !important;
}
.eddie_photography-border-light-grey,
.eddie_photography-hover-border-light-grey:hover,
.eddie_photography-border-light-gray,
.eddie_photography-hover-border-light-gray:hover {
  border-color: #f1f1f1 !important;
}
.eddie_photography-border-dark-grey,
.eddie_photography-hover-border-dark-grey:hover,
.eddie_photography-border-dark-gray,
.eddie_photography-hover-border-dark-gray:hover {
  border-color: #616161 !important;
}
.eddie_photography-border-pale-red,
.eddie_photography-hover-border-pale-red:hover {
  border-color: #ffe7e7 !important;
}
.eddie_photography-border-pale-green,
.eddie_photography-hover-border-pale-green:hover {
  border-color: #e7ffe7 !important;
}
.eddie_photography-border-pale-yellow,
.eddie_photography-hover-border-pale-yellow:hover {
  border-color: #ffffcc !important;
}
.eddie_photography-border-pale-blue,
.eddie_photography-hover-border-pale-blue:hover {
  border-color: #e7ffff !important;
}
